<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripan.app.mapper.AccommodationMapper">
	<select id="selectAccommodationList" parameterType="com.tripan.app.domain.dto.AdSearchConditionDto" resultType="com.tripan.app.domain.dto.AccommodationDto">
        SELECT 
            p.PLACE_ID as placeId,
            p.PLACE_NAME as name,
            p.IMAGE_URL as imageUrl,
            p.ADDRESS as region, a.ACCOMMODATION_TYPE as accommodationType,
            MIN(r.AMOUNT + (GREATEST(0, (#{adult} + #{child}) - r.ROOMBASECOUNT) * 20000)) as minPrice
        FROM PLACE p
        JOIN ACCOMMODATION a ON p.PLACE_ID = a.PLACE_ID
        JOIN ROOM r ON a.PLACE_ID = r.PLACE_ID
        JOIN ACCOMMODATION_FACILITY af ON a.AF_ID = af.AF_ID
        JOIN ROOM_FACILITY rf ON r.RF_ID = rf.RF_ID
        WHERE 1=1
        
        <if test="checkin != null and checkin != '' and checkout != null and checkout != ''">
            AND NOT EXISTS (
                SELECT 1 
                FROM RESERVATION res 
                WHERE res.ROOM_ID = r.ROOM_ID 
                  AND res.STATUS = 'SUCCESS' -- 취소된 예약은 무시하고 성공한 예약만 겹치는지 체크
                  AND res.CHECK_IN_DATE &lt; TO_DATE(#{checkout}, 'YYYY-MM-DD')
                  AND res.CHECK_OUT_DATE &gt; TO_DATE(#{checkin}, 'YYYY-MM-DD')
            )
        </if>
        
        <if test="region != null and region != ''">
            AND p.ADDRESS LIKE '%' || #{region} || '%'
        </if>

        <if test="accTypes != null and accTypes.size() > 0">
            AND a.ACCOMMODATION_TYPE IN
            <foreach item="type" collection="accTypes" open="(" separator="," close=")">
                #{type}
            </foreach>
        </if>

        <if test="minPrice != null">
            AND r.AMOUNT <![CDATA[>=]]> #{minPrice}
        </if>
        <if test="maxPrice != null">
            AND r.AMOUNT <![CDATA[<=]]> #{maxPrice}
        </if>

        <if test="adult + child > 0">
            AND r.MAX_CAPACITY <![CDATA[>=]]> (#{adult} + #{child})
        </if>

        <if test="accFacilities != null and accFacilities.size() > 0">
            <foreach item="fac" collection="accFacilities">
                <choose>
                    <when test="fac == 'FITNESS'"> AND af.FITNESS = 1 </when>
                    <when test="fac == 'CHKCOOKING'"> AND af.CHKCOOKING = 1 </when>
                    <when test="fac == 'BARBECUE'"> AND af.BARBECUE = 1 </when>
                    <when test="fac == 'BEVERAGE'"> AND af.BEVERAGE = 1 </when>
                    <when test="fac == 'KARAOKE'"> AND af.KARAOKE = 1 </when>
                    <when test="fac == 'PUBLICPC'"> AND af.PUBLICPC = 1 </when>
                    <when test="fac == 'SAUNA'"> AND af.SAUNA = 1 </when>
                </choose>
            </foreach>
        </if>

        GROUP BY p.PLACE_ID, p.PLACE_NAME, p.IMAGE_URL, p.ADDRESS, a.ACCOMMODATION_TYPE
    </select>
    
    <select id="selectAccommodationDetail" resultType="com.tripan.app.domain.dto.AccommodationDetailDto">
        SELECT 
            p.PLACE_ID as placeId,
            p.PLACE_NAME as name,
            p.ADDRESS as region, p.DESCRIPTION as description,
            a.CHECKINTIME as checkinTime,
            a.CHECKOUTTIME as checkoutTime
        FROM PLACE p
        JOIN ACCOMMODATION a ON p.PLACE_ID = a.PLACE_ID
        WHERE p.PLACE_ID = #{placeId}
    </select>

    <select id="selectAccommodationImages" resultType="string">
        SELECT IMAGE_URL 
        FROM ACCOMMODATION_IMAGE 
        WHERE PLACE_ID = #{placeId}
    </select>
    
    <select id="selectRoomsByPlaceId" resultType="com.tripan.app.domain.dto.RoomDto">
        SELECT 
            r.ROOM_ID as roomId,
            r.ROOM_NAME as roomName,
            r.ROOMBASECOUNT as roomBaseCount,
            r.MAX_CAPACITY as maxCapacity,
            r.AMOUNT as amount,
            r.ROOMINTRO as roomIntro,
            
            (SELECT MIN(ri.IMAGE_URL) 
             FROM ROOM_IMAGE ri 
             WHERE ri.ROOM_ID = r.ROOM_ID) as roomImageUrl
             
        FROM ROOM r
        WHERE r.PLACE_ID = #{placeId}
        ORDER BY r.AMOUNT ASC
    </select>
    
    <select id="findRoomById" resultType="com.tripan.app.domain.dto.RoomDto">
	    SELECT 
	        ROOM_ID as roomId,
	        ROOM_NAME as roomName,
	        ROOMBASECOUNT as roomBaseCount, AMOUNT as amount
	    FROM ROOM
	    WHERE ROOM_ID = #{roomId}
	</select>
	
	
	<!-- 동시성 기능 -->
	<delete id="deleteExpiredLocks">
        DELETE FROM ROOM_LOCK WHERE EXPIRE_AT &lt; SYSDATE
    </delete>

    <select id="getRoomLockSession" resultType="string">
        SELECT SESSION_ID FROM ROOM_LOCK
        WHERE ROOM_ID = #{roomId} AND CHECKIN_DATE = #{checkin}
    </select>

    <insert id="insertRoomLock">
        INSERT INTO ROOM_LOCK (ROOM_ID, CHECKIN_DATE, SESSION_ID)
        VALUES (#{roomId}, #{checkin}, #{sessionId})
    </insert>

    <update id="updateLockTime">
        UPDATE ROOM_LOCK 
        SET EXPIRE_AT = SYSDATE + (5/(24*60))
        WHERE ROOM_ID = #{roomId} AND CHECKIN_DATE = #{checkin}
    </update>

    <delete id="deleteRoomLock">
        DELETE FROM ROOM_LOCK
        WHERE ROOM_ID = #{roomId} AND CHECKIN_DATE = #{checkin} AND SESSION_ID = #{sessionId}
    </delete>
    
    
    <!-- 결제완료 기능 -->
    <insert id="insertOrder">
        INSERT INTO ORDERS (ORDER_ID, MEMBER_ID, ORDER_DATE, TOTAL_AMOUNT, COUPON_DISCOUNT, REAL_TOTAL_AMOUNT, STATUS)
        VALUES (#{merchantUid}, #{memberId}, SYSDATE, #{amount}, 0, #{amount}, 'SUCCESS')
    </insert>

    <insert id="insertReservation">
        <selectKey keyProperty="reservationId" resultType="long" order="BEFORE">
            SELECT RESERVATION_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO RESERVATION (
            RESERVATION_ID, ROOM_ID, MEMBER_ID, PARTNER_ID, 
            CHECK_IN_DATE, CHECK_OUT_DATE, GUEST_COUNT, 
            STATUS, REQUEST, AMOUNT, COMMISSION_RATE, PARTNER_COUPON_FEE
        ) VALUES (
            #{reservationId}, #{roomId}, #{memberId}, 1,  TO_DATE(#{checkin}, 'YYYY-MM-DD'), TO_DATE(#{checkout}, 'YYYY-MM-DD'), 
            (#{adult} + #{child}), 'SUCCESS', '요청사항 없음', #{amount}, 10, 0
        )
    </insert>

    <insert id="insertOrderDetail">
        INSERT INTO ORDER_DETAIL (
            DETAIL_ID, ORDER_ID, RESERVATION_ID, AMOUNT, STATUS
        ) VALUES (
            ORDER_DETAIL_SEQ.NEXTVAL, #{merchantUid}, #{reservationId}, #{amount}, 'SUCCESS'
        )
    </insert>

    <insert id="insertPayment">
        INSERT INTO PAYMENT (
            PAYMENT_ID, ORDER_ID, PG_PROVIDER, PG_TID, AMOUNT, STATUS, PAID_AT
        ) VALUES (
            PAYMENT_SEQ.NEXTVAL, #{merchantUid}, #{payMethod}, #{impUid}, #{amount}, 'SUCCESS', SYSDATE
        )
    </insert>
</mapper>