<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripan.app.mapper.FestivalMapper">

<insert id="insertFestival" parameterType="com.tripan.app.domain.dto.FestivalDto">
        <selectKey keyProperty="festivalId" resultType="long" order="BEFORE">
            SELECT SEQ_FESTIVAL.NEXTVAL FROM DUAL
        </selectKey>
        
        INSERT INTO festival (
            festival_id, place_id, api_content_id, event_start_date, event_end_date, 
            play_time, event_place, spend_time, festival_grade, usage_fee, 
            program, sub_event, sponsor1, sponsor1_tel, created_at
        ) VALUES (
            #{festivalId}, #{placeId}, #{apiContentId}, #{eventStartDate}, #{eventEndDate},
            #{playTime}, #{eventPlace}, #{spendTime}, #{festivalGrade}, #{usageFee},
            #{program}, #{subEvent}, #{sponsor1}, #{sponsor1Tel}, SYSDATE
        )
    </insert>

    <insert id="insertFestivalImages" parameterType="java.util.List">
        INSERT INTO festival_image (
            image_id, festival_id, origin_img_url, small_img_url, img_name, created_at
        )
        SELECT SEQ_FESTIVAL_IMAGE.NEXTVAL, A.* FROM (
        <foreach collection="list" item="img" separator="UNION ALL">
            SELECT 
                #{img.festivalId}, 
                #{img.originImgUrl}, 
                #{img.smallImgUrl}, 
                #{img.imgName}, 
                SYSDATE 
            FROM DUAL
        </foreach>
        ) A
    </insert>
    
    <select id="selectFestivalsByMonth" resultType="com.tripan.app.domain.dto.FestivalDto">
        SELECT 
            f.festival_id AS festivalId,
            p.place_id AS placeId,
            p.place_name AS title,          p.address AS eventPlace,        p.image_url AS firstimage,      f.event_start_date AS eventStartDate,
            f.event_end_date AS eventEndDate
        FROM festival f
        JOIN place p ON f.place_id = p.place_id
        WHERE TO_CHAR(f.event_start_date, 'YYYYMM') &lt;= LPAD(#{year}, 4, '0') || LPAD(#{month}, 2, '0')
          AND TO_CHAR(f.event_end_date, 'YYYYMM') &gt;= LPAD(#{year}, 4, '0') || LPAD(#{month}, 2, '0')
        ORDER BY f.event_start_date ASC
    </select>

    <select id="selectFestivalDetail" resultType="com.tripan.app.domain.dto.FestivalDto">
        SELECT 
            f.festival_id AS festivalId,
            p.place_name AS title,
            p.address AS eventPlace,
            p.latitude AS mapy,
            p.longitude AS mapx,
            f.event_start_date AS eventStartDate,
            f.event_end_date AS eventEndDate,
            f.play_time AS playTime,
            f.spend_time AS spendTime,
            f.festival_grade AS festivalGrade,
            f.usage_fee AS usageFee,
            f.program AS program,
            f.sub_event AS subEvent,
            f.sponsor1 AS sponsor1,
            f.sponsor1_tel AS sponsor1Tel
        FROM festival f
        JOIN place p ON f.place_id = p.place_id
        WHERE f.festival_id = #{festivalId}
    </select>

    <select id="selectFestivalImages" resultType="com.tripan.app.domain.dto.FestivalImageDto">
        SELECT 
            image_id AS imageId,
            festival_id AS festivalId,
            origin_img_url AS originImgUrl,
            small_img_url AS smallImgUrl,
            img_name AS imgName
        FROM festival_image
        WHERE festival_id = #{festivalId}
        ORDER BY image_id ASC
    </select>

</mapper>