<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripan.app.mapper.MemberMapper">
<select id="findById" parameterType="String" resultType="com.tripan.app.domain.dto.MemberDto">
		SELECT m1.member_id, m1.login_id, m1.password, m1.username, m1.email,
			   m1.status, m1.role, NVL(m1.failure_cnt, 0) failure_cnt,
			   m1.provider AS sns_provider, m1.provider_id AS sns_id,
			   m2.nickname, m2.profile_image AS profile_photo, m2.phone_number AS phoneNumber
		FROM member1 m1
		LEFT OUTER JOIN member2 m2 ON m1.member_id = m2.member_id
		WHERE m1.login_id = #{login_id}
	</select>

	<select id="findByLoginId" parameterType="String" resultType="com.tripan.app.domain.dto.MemberDto">
		SELECT m1.member_id, m1.login_id, m1.password, m1.username, m1.email,
			   m1.status, m1.role, NVL(m1.failure_cnt, 0) failure_cnt,
			   m1.provider AS sns_provider, m1.provider_id AS sns_id,
			   m2.nickname, m2.profile_image AS profile_photo, m2.phone_number AS phoneNumber
		FROM member1 m1
		LEFT OUTER JOIN member2 m2 ON m1.member_id = m2.member_id
		WHERE m1.login_id = #{login_id}
	</select>

	<select id="checkFailureCount" parameterType="String" resultType="Integer">
		SELECT NVL(failure_cnt, 0) failure_cnt
		FROM member1
		WHERE login_id = #{login_id}
	</select>
	
	<update id="updateFailureCount" parameterType="String">
		UPDATE member1 SET failure_cnt = NVL(failure_cnt, 0) + 1
		WHERE login_id = #{login_id}
	</update>

	<update id="updateLastLoginId" parameterType="String">
		DECLARE
			v_member_id NUMBER;
		BEGIN
			SELECT member_id INTO v_member_id FROM member1 WHERE login_id = #{login_id};
			
			UPDATE member1 SET failure_cnt = 0 WHERE member_id = v_member_id;
			UPDATE member2 SET last_login_at = SYSDATE WHERE member_id = v_member_id;
		END;
	</update>

	<update id="updateMemberEnabled" parameterType="map">
		UPDATE member1 SET status = #{enabled}
		<where>
			<choose>
				<when test="login_id != null">
					login_id = #{login_id}
				</when>
				<otherwise>
					member_id = #{member_id}
				</otherwise>
			</choose>
		</where>
	</update>
	
	<insert id="insertMember12" parameterType="com.tripan.app.domain.dto.MemberDto">
        <selectKey keyProperty="memberId" resultType="Long" order="BEFORE">
            SELECT member_seq.NEXTVAL FROM dual
        </selectKey>

        INSERT ALL
        INTO member1 (
            MEMBER_ID, LOGIN_ID, EMAIL, PASSWORD, USERNAME, 
            STATUS, ROLE, GENDER, FAILURE_CNT, 
            PROVIDER, PROVIDER_ID, BIRTHDAY
        ) VALUES (
            #{memberId}, #{loginId}, #{email}, #{password}, #{name}, 
            1, #{role}, #{gender, jdbcType=VARCHAR}, 0, 
            #{snsProvider, jdbcType=VARCHAR}, #{snsId, jdbcType=VARCHAR}, #{birthday, jdbcType=VARCHAR}
        )
        INTO member2 (
            MEMBER_ID, NICKNAME, PROFILE_IMAGE, PHONE_NUMBER, 
            PREFERRED_REGION, UPDATED_AT, LAST_LOGIN_AT
        ) VALUES (
            #{memberId}, #{nickname, jdbcType=VARCHAR}, #{profilePhoto, jdbcType=VARCHAR}, #{phoneNumber, jdbcType=VARCHAR}, 
            #{preferredRegion, jdbcType=VARCHAR}, SYSDATE, SYSDATE
        )
        SELECT * FROM dual
    </insert>
    
    <update id="updateMember1" parameterType="com.tripan.app.domain.dto.MemberDto">
    	UPDATE member1 SET email=#{email}, password=#{password}, username=#{userName}, birthday=#{birthday}
    	WHERE member_id = #{memberId}
    </update>
    
    <update id="updateMember2" parameterType="com.tripan.app.domain.dto.MemberDto">
    	UPDATE member2 SET nickName = #{nickName}, profile_image = #{profileImage}, bio = #{bio}, phone_number = #{phoneNumber},
				preferred_region=#{preferredRegion}, updated_at=SYSDATE
    	WHERE member_id = #{memberId}
    </update>
    
</mapper>