<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripan.app.mapper.ReportMapper">

    <insert id="insertReport" parameterType="com.tripan.app.domain.dto.ReportDto">
        INSERT INTO report (
            report_id, 
            reporter_id, 
            target_type, 
            target_id, 
            reason, 
            status, 
            created_at
        ) VALUES (
            SEQ_REPORT_ID.NEXTVAL, 
            #{reporterId}, 
            #{targetType}, 
            #{targetId}, 
            #{reason}, 
            'PENDING',  SYSDATE
        )
    </insert>

</mapper>